<div class="m-2 p-2 d-flex justify-content-center">
    <mat-card class="card col-md-10">
      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title><h1>Forgot password</h1></mat-card-title>
      </mat-card-header>
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <div *ngIf="showSucces" class="alert alert-success" role="alert">
        {{succesMessage}}
      </div>
      <form [formGroup]="forgotForm" autocomplete="off" (ngSubmit)="forgotPassword(forgotForm.value)">
        <mat-card-content>
          <div class="row justify-content-center">
            <mat-form-field class="col-8">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            <mat-card-actions class="col-8 d-flex justify-content-center">
              <button mat-raised-button color="primary" type="submit" [disabled]="!forgotForm.valid">Submit</button>
            </mat-card-actions>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>